{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Usted esta logueado como: {{ app.user.userIdentifier }},
            <a href="{{ path('app_logout') }}">Cerrar Sesion</a>
        </div>
    {% endif %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6 bg-white rounded my-3 p-5">
                {# ***************************************** #}
                <h1 class="h3 mb-3 font-weight-normal">Login del Curso de Symfony 5</h1>
                <label for="inputUsername">Usuario</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                <br>
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <hr>
                <button class="btn btn-lg btn-primary" type="submit">
                    Ingresar
                </button>
                {# ************************************ #}
            </div>
        </div>
    </div>


</form>
{% endblock %}
