{% extends 'base.html.twig' %}

{% block title %}Principal{% endblock %}

{% block body %}

    {# {{ dump(post) }}
    {{dump(post1)}}
    {{dump(post2)}}
    {{dump(post3)}} 

    <h1>Busqueda con Fusiones Personalizadas</h1>
    {{dump(post4)}} #}

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.titulo') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Titulo', 'a.titulo') }}
            </th>
            <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
            </th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.titulo }}</td>
                <td>{{ article.foto }}</td> 
                <td>{{ article.fecha_publicacion|date('d/m/Y') }}</td>
                {# <td>{{ article.date | date('Y-m-d') }}, {{ article.time | date('H:i:s') }}</td> #}
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}
