{% extends 'base.html.twig' %}

{% block title %}Principal{% endblock %}

{% block body %}

    {{ dump(post) }}

    {{dump(post1)}}

    {{dump(post2)}}

    {{dump(post3)}}

    <h1>Busqueda con Fusiones Personalizadas</h1>

    {{dump(post4)}}
    
{% endblock %}
